<h1>Sign up for your home inventory</h1>

<form target="/users" method="post">
	<p><label for="username">Username: </label><input type="text" name="username" id="username" required></p>
	<p><label for="first_name">First Name: </label><input type="text" name="first_name" id="first_name" required></p>
	<p><label for="email">Email: </label><input type="email" name="email" id="email" required></p>
	<p><label for="password">Password: </label><input type="password" name="password" id="password" required></p>

	<input type="submit" name="Signup" id="Signup">
</form>