<h1 style="color:#999"><%= "Edit <span style='color:#000'>#{@room.name.titlecase}</span>"%></h1>

<form action="/rooms/new" method="post">
	<p><label for="name">Room Name:</label><br><input type="text" name="room[name]" id="name" required></p>
	<p><label for="notes">Notes:</label><br><input type="text" name="room[notes]" id="notes"></p>

	<input type="submit" name="Create Room" id="Create Room">
</form>
