<h1 style="color:#999"><%= "This is the <span style='color:#000'>#{@room.name.titlecase}</span> in #{@user.first_name}'s Home"%></h1>

<% if !@room.notes.empty? %>
	<p style="color:#999"><%= @room.notes %></p>
<% end %>

<p><a href="/rooms/edit">Edit Room</a></p>
<p></p>