<h1>Create a New Item in <%= @user.first_name.titlecase %>'s House</h1>

<form action="/items/new" method="post">
	<p><label for="name">Item Name:</label><br><input type="text" name="Item[name]" id="name" required></p>
	<p><label for="brand">Item Name:</label><br><input type="text" name="Item[name]" id="name" required></p>

	<!-- date picker needed for date validation / hygene -->
	<p><label for="date_purchased">Item Name:</label><br><input type="text" name="Item[name]" id="name" required></p>

	<!-- how to validate cost format? -->
	<p><label for="cost">Item Name:</label><br><input type="text" name="Item[name]" id="name" required></p>
	<p><label for="source_of_purchase">Item Name:</label><br><input type="text" name="Item[name]" id="name" required></p>

	<!-- picklist with "other" that allows user to create their own persistent categories? -->
	<p><label for="category">Item Name:</label><br><input type="text" name="Item[name]" id="name" required></p>

	<p><label for="notes">Notes:</label><br><input type="textarea" name="Item[notes]" id="notes"></p>


	<!-- dropdown with rooms listed -->

	<input type="submit" name="Create Item" id="Create Item">
</form>
