<!DOCTYPE html>
<html>
<head>
	<title>Home Inventory | </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
	<link rel="stylesheet" type="text/css" href="/custom.css"> 
</head>
<body>
	<% if @logged_in %>
		<div id="navbar">
			<a id="home-button" href="/rooms">自宅</a>
		 	<a id="nav-button" href="/items/new">Add an Item</a>
		 	<a id="nav-button" href="/rooms/new">Add a Room</a>
		</div>
	 <% elsif @is_index %>
		<div id="navbar">
			<h1>Welcome to Home Inventory!</h1>
		 	<a id="nav-button" href="/login">Login</a>
		 	<a id="nav-button" href="/signup">Sign Up</a>
		</div>
	 <% else %>
	 	<div id="navbar">
			<a id="home-button" href="/">自宅</a>
		</div>
	 <% end %>

	 <div id="content">
		 <%= yield %>
	</div>


	<% if @logged_in %>
		<footer id="footer"><a href="/items">My Account</a> <span style="color: #007BFF">|</span> <a href="/logout">Logout</a></footer>
	<% end %>
</body>
</html>